<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StyleBot - Fashion AI Indonesia</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" >
</head>
<body class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover">
    <div class="bg-black text-white">
        <!-- Navbar -->
        <div class="container mx-auto px-4 py-4">
            <nav class="flex justify-between items-center">
              <!-- Logo and Title -->
              <a href="/" class="flex items-center text-white hover:text-gray-300">
                <img src="static/img/logo.png" alt="Logo" class="w-10 h-10 mr-2">
                <span class="text-2xl md:text-3xl font-semibold">STYLEBOT</span>
              </a>
              
              <!-- Hamburger Menu for Mobile -->
              <div class="md:hidden flex items-center">
                <button class="mobile-menu-button p-4 focus:outline-none">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                  </svg>
                </button>
              </div>
          
              <!-- Navigation Links -->
              <div class="hidden md:flex space-x-4">
                <a href="/" class="hover:text-gray-300">Home</a>
                <a href="#fitur-section" class="scroll-link hover:text-gray-300">Fitur</a>
                <a href="#deteksi-section" class="scroll-link hover:text-gray-300">Deteksi</a>
                <a href="#about-section" class="scroll-link hover:text-gray-300">Tentang</a>
              </div>
            </nav>
          </div>
          
          <!-- Mobile Menu -->
          <div class="mobile-menu hidden md:hidden flex flex-col items-center">
            <a href="/" class="block py-2 px-4 text-sm hover:bg-gray-700">Home</a>
            <a href="#fitur-section" class="block py-2 px-4 text-sm hover:bg-gray-700">Fitur</a>
            <a href="#deteksi-section" class="scroll-link block py-2 px-4 text-sm hover:bg-gray-700">Deteksi</a>
            <a href="#about-section" class="block py-2 px-4 text-sm hover:bg-gray-700">Tentang</a>
        </div>
  

        <!-- Main Content -->
        <div class="container mx-auto px-4 py-16">
            <!-- Hero Section -->
            <div class="hero-section relative text-center bg-cover bg-center" style="background-image: url('static/img/hero.jpeg');">
                <div class="overlay bg-black bg-opacity-50 h-full">
                    <div class="container mx-auto px-4 h-full flex items-center justify-center">
                        <div class="text-center text-white">
                            <h1 class="text-6xl font-bold">Temukan Gaya Anda</h1>
                            <p class="text-2xl mt-4">Jelajahi tren terkini dan temukan gaya sempurna Anda dengan StyleBot</p>
                            <a href="#fitur-section" class="scroll-link mt-8 inline-block px-6 py-3 bg-white text-black font-semibold rounded-md">Coba Sekarang!!</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Features Section -->
            <div id="fitur-section" class="features-section bg-black text-white py-16">
                <div class="container mx-auto px-4">
                    <h2 class="text-3xl font-bold text-center mb-12">Fitur <span class="text-yellow-500">Fashion</span></h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mt-8">
                        
                        <!-- Fashion Object Detection Feature -->
                        <div class="feature-card transition-transform transform hover:scale-105 p-6 bg-white text-black rounded-lg shadow-xl flex flex-col justify-center">
                            <div class="flex items-center justify-center">
                                <i class="fas fa-camera text-6xl text-yellow-500"></i>
                            </div>
                            <h3 class="text-2xl font-semibold mt-4 text-center">Mode Deteksi Objek</h3>
                            <p class="mt-4 text-gray-600 text-justify">Rasakan masa depan berbelanja dengan fitur Deteksi Objek Mode kami yang canggih. Manfaatkan teknologi pendeteksi objek yang canggih untuk langsung mengidentifikasi berbagai item fashion secara real-time menggunakan kamera Anda.</p>
                            <a href="#deteksi-section" class="scroll-link mt-6 inline-block bg-yellow-500 text-white py-2 px-6 rounded-md text-center">Coba sekarang</a>
                        </div>
                        
                        <!-- Chatbot Feature -->
                        <div class="feature-card transition-transform transform hover:scale-105 p-6 bg-white text-black rounded-lg shadow-xl flex flex-col justify-center">
                            <div class="flex items-center justify-center">
                                <i class="fas fa-comment-dots text-6xl text-blue-500"></i>
                            </div>
                            <h3 class="text-2xl font-semibold mt-4 text-center">Bantuan Chatbot</h3>
                            <p class="mt-4 text-gray-600 text-justify">Terlibat dengan Chatbot cerdas kami untuk saran mode yang dipersonalisasi dan jawaban atas semua pertanyaan Anda. Temukan cara baru berbelanja dengan respons instan dan rekomendasi yang dipersonalisasi.</p>
                            <button class="chat-btn mt-6 bg-blue-500 text-white py-2 px-6 rounded-md">Coba sekarang</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Camera Detection -->
            <div id="deteksi-section"class="flex justify-center mt-16">
                <div>
                    <h2 class="text-center text-3xl font-bold">Deteksi <span class="text-yellow-500">Fashion</span></h2>
                    <div class="webcam-container relative mt-4">
                        <video id="video" autoplay muted playsinline class="rounded hidden"></video>
                        <div id="fps" class="absolute bottom-2 right-2 bg-white p-1 text-sm rounded"></div>
                    </div>
                    <div class="placeholder mt-4" id="camera-placeholder">
                        <p>Klik "Mulai" untuk memulai deteksi objek..</p>
                    </div>
                    <div class="button flex justify-center mt-4">
                        <button class="btn tombol bg-yellow-400 text-white py-2 px-4 rounded" id="btn-start" type="button">Mulai</button>
                    </div>
                </div>
            </div>

            <!-- Recommendations Section -->
            <div class="mt-16 text-center">
                <h2 class="text-3xl font-bold text-center">Rekomendasi <span class="text-yellow-500">Fashion</h2>
                <div id="recommendations-placeholder" class="placeholder text-center mt-4">Rekomendasi produk akan muncul di sini</div>
                <div id="recommendations-container" class="recommendations-grid grid grid-cols-1 md:grid-cols-3 gap-8 px-4 py-4 mt-4"></div>
            </div>

            <!-- About Section -->
            <div id="about-section" class="bg-black text-white py-16">
                <div class="container mx-auto px-4 text-center">
                    <h2 class="text-3xl font-bold mb-12">About <span class="text-yellow-500">Us</h2>
                    <div class="grid place-items-center">
                        <!-- About Image -->
                        <div class="about-image mb-6">
                            <img src="static/img/logo.png" alt="About Us" class="rounded-lg shadow-xl w-48 h-48 object-cover">
                        </div>
                        <!-- About Text -->
                        <div class="about-text text-xl">
                            <p class="mb-6">StyleBot berada di garis depan dalam merevolusi pengalaman belanja fashion, mengintegrasikan teknologi pembelajaran mesin untuk memberikan rekomendasi produk dan saran gaya yang canggih.</p>
                            <p class="mb-6">Platform kami memanfaatkan kekuatan algoritma pendeteksian objek yang canggih, memungkinkan pengguna kamera secara real-time untuk mengidentifikasi item fashion. StyleBot menganalisis objek dan menyajikan rekomendasi produk pilihan, lengkap dengan gambar, nama, dan link untuk membeli.</p>
                            <p class="mb-6">Selain deteksi objek, StyleBot menawarkan bantuan chatbot, memandu pengguna tentang cara memaksimalkan pengalaman berbelanja, memberikan informasi produk, dan menjawab pertanyaan secara instan.</p>
                            <p>Baik Anda sedang mencari inspirasi gaya, saran belanja, atau informasi produk, StyleBot siap membantu Anda, menjadikan perjalanan fashion Anda lancar dan menyenangkan. Jelajahi, temukan, dan belanja dengan percaya diri dengan StyleBot.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team Members Section -->
            <div class="mt-16 text-center">
                <h2 class="text-3xl font-bold">Tim <span class="text-yellow-500">Kami</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8 mx-auto">
                    <div class="team-member-card bg-white text-black rounded-lg p-4 shadow-lg">
                        <img src="static/img/ahnafudin.jpg" alt="Gambar Ahnafudin Abdullah" class="rounded-full mx-auto w-32 h-32 object-cover">
                        <h3 class="mt-4 font-semibold">Ahnafudin Abdullah</h3>
                        <p>Universitas Dian Nuswantoro</p>
                    </div>
                    <div class="team-member-card bg-white text-black rounded-lg p-4 shadow-lg">
                        <img src="static/img/isabella.jpg" alt="Gambar Isabella" class="rounded-full mx-auto w-32 h-32 object-cover">
                        <h3 class="mt-4 font-semibold">Isabella</h3>
                        <p>Universitas Nahdlatul Ulama Yogyakarta</p>
                    </div>
                    <div class="team-member-card bg-white text-black rounded-lg p-4 shadow-lg">
                        <img src="static/img/dwi.jpg" alt="Gambar Dwi Novianti" class="rounded-full mx-auto w-32 h-32 object-cover">
                        <h3 class="mt-4 font-semibold">Dwi Novianti</h3>
                        <p>Universitas Negeri Semarang</p>
                    </div>
                    <div class="team-member-card bg-white text-black rounded-lg p-4 shadow-lg">
                        <img src="static/img/mahda.jpg" alt="Gambar Mahda Laina Arnumukti" class="rounded-full mx-auto w-32 h-32 object-cover">
                        <h3 class="mt-4 font-semibold">Mahda Laina Arnumukti</h3>
                        <p>Institut Teknologi Telkom Purwokerto</p>
                    </div>
                    <div class="team-member-card bg-white text-black rounded-lg p-4 shadow-lg">
                        <img src="static/img/rifqy.jpg" alt="Gambar Ahmad Rifqy Alfiana" class="rounded-full mx-auto w-32 h-32 object-cover">
                        <h3 class="mt-4 font-semibold">Ahmad Rifqy Alfiana</h3>
                        <p>Universitas PGRI Semarang</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="container mx-auto px-4 py-4">
            <div class="flex flex-col md:flex-row justify-between items-center text-center md:text-left">
                <div class="mb-4 md:mb-0">&copy; 2023 StyleBot. All rights reserved.</div>
                <div class="space-x-4">
                    <a href="https://github.com/Ahnafudin/stylebot" target="_blank" class="hover:text-gray-300">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                    <a href="https://www.youtube.com/@ahnafudinabdullah5340" target="_blank" class="hover:text-gray-300">
                        <i class="fab fa-youtube fa-2x"></i>
                    </a>
                    <a href="https://universe.roboflow.com/ahnafudin-abdullah-2rdln/fashion-stylebot" target="_blank" class="hover:text-gray-300">
                        <i class="fas fa-registered fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Chatbot -->
    <div class="fixed bottom-4 right-4 flex flex-col items-end">
        <div class="chat-wrapper bg-white p-4 rounded-lg shadow-lg w-80 hidden" id="scrollable-content"> 
            <div class="header flex justify-between items-center p-2 border-b">
                <div class="font-bold">StyleBot</div>
                <label for="check" class="close cursor-pointer p-1 bg-gray-200 rounded-full text-gray-600 flex items-center justify-center" style="width: 24px; height: 24px;">X</label>            
            </div> 
            <main class="msger-chat p-2 overflow-y-auto" style="height: 300px;">
                <div class="msg left-msg p-2">
                    <div class="msg-bubble bg-blue-100 rounded-lg p-2">
                        <div class="msg-info mb-1">
                            <div class="msg-info-name font-bold">STYLEBOT</div>
                            <div class="now text-xs text-gray-500">Sekarang</div>
                        </div>
                        <div class="msg-text text-justify">
                            Hai! Saya Chatbot 😎 Senang bertemu dengan Anda! 👋
                        </div>
                    </div>
                </div>
            </main>
            <form class="msger-inputarea flex p-2">
                <input type="text" class="msger-input flex-grow p-2 border rounded-l-lg" id="textInput" placeholder="Masukkan pesanmu disini...">
                <button type="submit" class="msger-send-btn bg-blue-500 text-white p-2 rounded-r-lg">
                    <i class="fa fa-paper-plane"></i>
                </button>                
            </form>
        </div>
        <label class="chat-btn p-4 bg-blue-500 rounded-full text-white cursor-pointer shadow-lg mb-4 flex items-center justify-center" style="width: 60px; height: 60px;">
            <i class="far fa-comment-dots text-3xl"></i>
        </label>        
    </div>
       
    <!-- JS -->
    <script async src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script async src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/async/3.2.0/async.min.js"></script>
    <script async src="https://cdn.roboflow.com/0.2.26/roboflow.js"></script>
    <script async src="https://underscorejs.org/underscore-min.js"></script>
    <script src="static/main.js" defer></script>
    <script src="static/chatbot.js" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {   
            // RESPONSIVE MOBILE VIEW
            const mobileMenuButton = document.querySelector('.mobile-menu-button');
            const mobileMenu = document.querySelector('.mobile-menu');
            if (mobileMenuButton && mobileMenu) {
                mobileMenuButton.addEventListener('click', () => {
                    mobileMenu.classList.toggle('hidden');
                });
            }

            // SMOOTH SCROLL
            document.querySelectorAll('.scroll-link').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();
                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });

            // CAMERA DETECTION
            const recommendationsPlaceholder = document.getElementById("recommendations-placeholder");
            const recommendationsContainer = document.getElementById("recommendations-container");
                       
            if (recommendationsContainer.children.length > 0) {
                recommendationsPlaceholder.classList.add("hidden");
            } else {
                recommendationsPlaceholder.classList.remove("hidden");
            }
        });
    </script>    
</body>
</html>
